@media (pointer: fine) {

  .btn-accent:hover {
    color: var(--white);
    background-color: var(--accent-2);
    text-decoration: none;
  }
}

@media (pointer: coarse) {

  * {
    -webkit-tap-highlight-color: transparent;
  }
}

@media (max-width: 900px) {

  .container {
    min-width: 280px;
  }

  .navbar {
    min-width: 300px;
  }

  .nav__burger-menu {
    display: block;
    cursor: pointer;
  }

  .nav__menu-wrapper {
    position: absolute;
    left: -155px;
    top: -22px;
    width: 150px;
    background-color: var(--surface-color);
    padding: 70px 0px 20px 0px;
    z-index: 3;
    transition: transform .5s;
  }

  .navbar li {
    display: block;
  }

  .navbar ul {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .nav__menu-link a {
    display: block;
    padding: 10px 30px 10px 30px;
  }
  

  .nav__menu-list {
    display: block;
  }

  .nav-item:hover a {
    text-decoration: none;
    color: var(--primary-1);
  }

  .navbar.open  .nav__menu-wrapper {
    transform: translateX(100%);
  }

  .nav-brand {
    padding-left: 0;
  }

  .nav-cart {
    margin-right: 0;
  }

  .theme-switcher {
    margin-right: 0;
    margin: 10px 0px 5px 0px;
    padding: 5px 10px;
  }

}

@media (max-width: 470px) {
  
  .products-layout {
    padding-block: 20px;
  }

  .products-layout h1, .products-layout p {
    margin-block: 10px;
  }

  .product {
    padding: 10px;
  }

  .product-info {
    padding-left: 20px;
  }

  .product-image {
    width: 80px;
    height: 80px;
    margin-block: auto;
  }

  .navbar {
    gap: 10px;
  }

  .nav-brand {
    font-size: 30px;
  }

  .nav-cart {
    padding: 10px 15px;
  }

  .table th {
    padding: 4px;
    font-size: 0.8rem;
  }

  .table tbody {
    font-size: 0.8rem;
  }
  .table td {
    padding: 4px;
  }
}

@media (max-width: 420px) {

  .products-layout p {
    font-size: 16px;
  }

  .product-image-container {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 390px) {

  .nav-brand {
    font-size: 26px;
  }

  .product-info p {
    font-size: 14px;
  }

  .product-image {
    width: 50px;
    height: auto;
  }

  .product-add {
    padding-inline: 10px;
    padding-block: 5px;
  }

  .product-delete {
    padding: 1px 5px;
  }

  .product {
    gap: 10px;
  }

  .product-info {
    padding-left: 10px;
  }

  .product-info p {
    margin-block: 0;
    line-height: 1rem;
  }

  .table-cart tbody td:first-child {
    padding-left: 10px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .tabs {
    font-size: 0.9rem;
  }

}